body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.sidebar-nav {
  min-width: 250px;
  padding: 9px 0;
}

.node-info {
    margin-top: 4px;
    line-height: 14px;
}

.node-info th {
    text-align: right;
}

.node-info td {
    text-align: left;
    padding-top: 3px;
    padding-left: 5px;
    color: white;
}

.nav-form {
    padding-left: 10px;
}

.status {
    margin-right: 5px;
}

.grid-status {
    padding: 40px;
    margin-bottom: 30px;
    background-color: #eeeeee;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.grid-status h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.grid-status .status-indicator {
    margin-top: 5px;
    float: left;
}

.furl {
    font-size: 0.8em;
    word-wrap: break-word;
}

.peerid {
    font-size: 0.8em;
}

.nickname {
    font-size: 1.2em;
    font-weight: bold;
}

.nodeid {
    font-size: 0.8em;
}

.minutia {
    font-size: 0.8em;
    width: 50%;
}

.service-connection-status {
    white-space: nowrap;
}

.service-connection-string {
    display: inline-block;
}

.status-indicator {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    margin-right: 4px;
    margin-top: 2px;
}
.status-description {
    display:inline-block;
}

.status-description .timestamp {
    font-size: smaller;
}

a.timestamp {
    color: inherit;
    text-decoration:none;
}

.connected-yes, .service-Connected {
    background: #468847;
}

.connected-no, .service-Disconnected {
    background: #B94A48;
}

.connected-not-configured {
    background: #444444;
}
