*.pyc
*.pyo
*~

/build/
/support/

# these are generated at build time, and never checked in
/src/allmydata/_version.py
/src/allmydata/_appname.py

# these are generated too
/bin/tahoe
/bin/tahoe.pyscript
/bin/tahoe-script.py

/.built
/src/allmydata_tahoe.egg-info/
Twisted-*.egg

/_trial_temp*
/tmp*
/dist/
/twisted/plugins/dropin.cache
/tahoe-deps/
/tahoe-deps.tar.gz
/.coverage
/.coverage.el
/coverage-html/
/miscaptures.txt
/violations.txt
