*.pyc
*.pyo

/build/
/support/

# these are generated at build time, and never checked in
/src/allmydata/_version.py
/src/allmydata/_appname.py

# these are generated too
/bin/tahoe
/bin/tahoe.pyscript
/bin/tahoe-script.py

/.built
/src/allmydata_tahoe.egg-info/
Twisted-*.egg

/_trial_temp*
/dist/
/twisted/plugins/dropin.cache
