include COPYING.GPL COPYING.TGPPL.rst CREDITS Makefile NEWS.rst Tahoe.home
include relnotes.txt
include bin/tahoe-script.template
recursive-include src *.xhtml *.js *.png *.css
graft docs
graft misc
graft static

graft setuptools-0.6c16dev6.egg
global-exclude *~ *.pyc
