#! /usr/bin/make -f
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DEB_PYTHON_SYSTEM=pycentral

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

PREFIX=$(shell pwd)/debian/allmydata-tahoe/usr

build/allmydata-tahoe::
	cd src/zfec && python2.4 setup.py install --single-version-externally-managed --root=$(PREFIX)/..
	cd src/Crypto && python2.4 setup.py install --prefix=$(PREFIX)
	python2.4 setup.py install --prefix=$(PREFIX)

clean::
	-rm -rf build
