<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="microkernel" type="MicroKernel.CustomSection, MicroKernel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
 
  </configSections>

  <microkernel>
    <references>
      <!-- Must be set if no DomainController is used for Authentification, otherwise it can be left empty -->
      <local description="Logon"   keyType="Suchwerk.Interface.IAuth"       assembly="UserLogon" implementationType="Suchwerk.UserLogon"             singleton="true" />

      <!-- Must be set. Is the IPC share that all CIFS server must provide. The implementation is done very simple -->
      <local description="IPC$"    keyType="Suchwerk.Interface.IFilesystem" assembly="NamedPipe" implementationType="Suchwerk.Filesystem.Pipe"  singleton="true" />
      
      <!-- That's the CIFS server, must be included -->
      <local description="SMBServer" keyType="Suchwerk.Interface.ISMBPortal" assembly="PortalSMB" implementationType="Suchwerk.Portal.SMB.SMB"       singleton="true" />
      
      <!-- Add here your IFilesystem implementations, the more you add, the more your server can provide 
           The same IFilesystem implementation can be listed more than once, to provide different data views 
           
           To know with share was called, add then field, "parameter_constructor=true" and instead of the
           parameter less standard constructor a constructor with the share name will be called -->
      <local description="Tahoe"     keyType="Suchwerk.Interface.IFilesystem" assembly="TahoeFS"  implementationType="TahoeFS.TahoeFS" singleton="true" />
     
    </references>
  </microkernel>

</configuration>

