<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="providerGroup">
      <section name="fileSystemService" type="NeoGeo.Library.SMB.Provider.FileSystemServiceSection, NeoGeo.Library.SMB" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
      <!--<section name="authenticationService" type="NeoGeo.Library.SMB.Provider.AuthenticationServiceSection, NeoGeo.Library.SMB" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />-->
    </sectionGroup>
  </configSections>

  <providerGroup>
    <fileSystemService defaultProvider="AllmydataFS">
      <providers>
        <add name="Allmydata" description="Allmydata 3.0 File System" type="TahoeFS.TahoeFS, TahoeFS"/>
      </providers>
    </fileSystemService>
    <!--<authenticationService>
      <providers>
        <add name="authentication" description="" type="Suchwerk.FileSystem.AuthenticationDummy, DummyFS" />
      </providers>
    </authenticationService>-->
  </providerGroup>

  <appSettings>
    <add key="ServerName" value="servername"/>
    <add key="DomainController" value=""/>    
	  <add key="LogFile" value="C:\temp\CIFS\log.txt"/>
    <add key="TempDir" value="c:\temp\temp\"/>	
	  <add key="DefaultLanguage" value="EN"/>
	</appSettings>

</configuration>

  