include ChangeLog MANIFEST.in NEWS
include doc/*.txt doc/*.xhtml doc/*.css doc/template.tpl
include doc/listings/*.py
include doc/specifications/*.xhtml
include Makefile
include misc/dapper/debian/*
include misc/edgy/debian/*
include misc/feisty/debian/*
include misc/sid/debian/*
include misc/sarge/debian/*
include misc/testutils/*
include misc/testutils/twisted/plugins/*
