Source: foolscap
Section: python
Priority: optional
Maintainer: Brian Warner <warner@lothar.com>
Build-Depends: debhelper (>> 4.1.68), python2.4-dev, python2.4-twisted, cdbs
Standards-Version: 3.7.2

Package: python-foolscap
Architecture: all
Depends: python (>= 2.4), python (<< 2.5), python2.4-foolscap
Description: An object-capability -based RPC system for Twisted Python
 This is a dummy package that only depends on python2.4-foolscap

Package: python2.4-foolscap
Architecture: all
Depends: python2.4, python2.4-twisted-core
Recommends: python2.4-twisted-names, python2.4-pyopenssl
Description: An object-capability -based RPC system for Twisted Python
 Foolscap (aka "newpb") contains a new RPC system for Twisted Python, combining
 capability-based security, secure references, flexible serialization, and
 technology to mitigate resource-consumption attacks.
